@model ReverseSpectre.Models.ClientViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Unpadded.cshtml";
}

<div class="section-container">

    <div class="section-header">
        <h3>Profile<span><a class="section-header-edit" href="@Url.Action("Edit")"><span>edit <span class="glyphicon glyphicon-edit"></span></span></a></span></h3>
    </div>

    <div class="section-content">

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
                <p>@Model.Nationality</p>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.CivilStatus, htmlAttributes: new { @class = "control-label" })
                <p>@Model.CivilStatus</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.TIN, htmlAttributes: new { @class = "control-label" })
                <p>@Model.TIN</p>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.SSS, htmlAttributes: new { @class = "control-label" })
                <p>@Model.CivilStatus</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.CurrentAddress, htmlAttributes: new { @class = "control-label" })
                <pre>@Model.CurrentAddress</pre>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new { @class = "control-label" })
                <pre>@Model.PermanentAddress</pre>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label" })
                <p>@Model.MobileNumber</p>
            </div>
        </div>
    </div>
    <!-- Section Content End-->
</div>
<!-- Section Container End-->

<div class="section-container">
    <div class="section-header">
        <h3>Employment Info<span><a class="section-header-edit" href="@Url.Action("EditEmploymentInfo")"><span>edit <span class="glyphicon glyphicon-edit"></span></span></a></span></h3>
    </div>

    <div class="section-content">

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.SourceOfFunds, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.SourceOfFunds</p>
            </div>

            <div class="col-md-6">
                @Html.Label("", "Details ", htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.SourceOfFundsInfo</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.Employer, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.Employer</p>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.FormOfBusiness, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.FormOfBusiness</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.EmployerBusinessAddress, htmlAttributes: new { @class = "control-label" })
                <pre>@Model.EmploymentInformation.EmployerBusinessAddress</pre>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.ContactNumber, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.ContactNumber</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.Position, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.Position</p>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.NatureOfJob, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.NatureOfJob</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.YearsInJob, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.YearsInJob</p>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.EmploymentInformation.IsOFW, htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.IsOFW</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                @Html.Label("", "Last Updated On", htmlAttributes: new { @class = "control-label" })
                <p>@Model.EmploymentInformation.TimestampCreated.ToString("MMM dd yyyy, HH:mm")</p>
            </div>
        </div>

    </div>
    <!-- Section Content End-->
</div>
<!-- Section Container End-->

@section Styles {
    <style>
        label {
            padding-left: 4px;
            margin-bottom: 8px !important;
        }
        p {
            margin-left: 4px;
        }
        pre {
            border:none;
            padding:0px 0px 0px 4px;
            background:none;
            font-size:1em;
            font-family:Raleway, Helvetica, sans-serif
        }

        .form-input {
            width: 100%;
        }
    </style>
}