@model ReverseSpectre.Models.LoanApplication
@{
    ViewBag.Title = "LoanDetails";
}

<h3>@Model.Client.BusinessName: Loan Details</h3>
@*<h4>Loan Details</h4>*@
<p>
    @Html.ActionLink("Go back", "Index")
</p>

<center>
    <div class="" style="width:400px;max-width:100%;padding:10px;margin-top:20px;">

        <center>
            <p>Progress</p>
        </center>
        <progress style="width:100%;" max="6" value="@((int)Model.LoanStatus)"></progress>
        <br /><br />
        <p><strong>Status:</strong> @Model.LoanStatus</p>
        <p>-- Description for current status --</p>

    </div>
</center>

<div class="row">
    <center>
        <span><strong>Amount:</strong> P @(String.Format("{0:0,0}", Model.Amount))</span>
        <span style="margin-left:20px;"><strong>Term:</strong> @Model.Term months</span>
    </center>
</div>

<br /><br />

<table class="table">
    <tbody>
        <tr>
            <th>Document</th>
            <th>Added on</th>
            <th>Comment</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model.LoanApplicationDocuments)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TimestampCreated.ToString()</td>
                <td>@item.Comment</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

