@model ReverseSpectre.Models.LoanApplication
@{
    ViewBag.Title = "LoanDetails";
    string interest;
    if ( Model.Interest <= 0)
    {
        interest = "- To be determined -";
    }
    else
    {
        interest = $"{(Model.Interest * 100)} %";
    }

    var stage = EnumHelper<ReverseSpectre.Models.LoanStatusType>.GetDisplayValue(Model.LoanStatus);
}

<p>
    @Html.ActionLink("Go back", "Index")
</p>
<h3>@Model.Client.BusinessName's Loan Details</h3>
@*<h4>Loan Details</h4>*@



<div class="container" style="margin-top:30px;">
    <span><strong>Progress: </strong></span>
    <progress style="min-width:300px; max-width:100%;" max="6" value="@((int)Model.LoanStatus)"></progress>
    <br /><br />
    <p><strong>Stage:</strong> @stage</p>
    <p>-- Description for current status --</p>

    <hr />

    <div class="container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="row">
            <p><strong>Amount:</strong> @(String.Format("{0:0,0}", Model.Amount)) PHP</p>
        </div>
        <div class="row">
            <p><strong>Term:</strong> @Model.Term months</p>
        </div>
        <div class="row">
            <p><strong>Interest Rate:</strong> @interest</p>
        </div>
    </div>

</div>
<br /><br />

<h4>Required Documents</h4>
<div id="document-list">
    @Html.Partial("DocumentList", Model.LoanApplicationDocuments)
</div>
@*<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Added on</th>
            <th>Comment</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model.LoanApplicationDocuments)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TimestampCreated.ToString()</td>
                <td>@item.Comment</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>*@

<!-- Preview Modal -->
<div id="preview-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview Document</h4>
            </div>
            <div id="preview-modal-content">
                <div style="padding:10px;">
                    <img id="preview-image" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
<style>
    #preview-image {
        width: 100%;
    }

    .form-input {
        width: 240px;
    }
</style>
}

@section Scripts {
<script>
function previewImage(url) {
    $('#preview-image').attr('src', url);
    $('#preview-modal').modal('show');
}
</script>
}