@model List<ReverseSpectre.Models.LoanApplication>
@{
    ViewBag.Title = "Clients";
}

<h3>Clients <a class="btn btn-default" href="@Url.Action("Add")">Add Client</a></h3>


<p></p>

@using (Html.BeginForm("Index", "RelationshipManagerClient", FormMethod.Get, new { @class = "form-inline", style = "display:inline;" }))
{
    <input class="form-control" style="display:inline-block;" name="s" placeholder="Client..." /> <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
}

<br /><br />

@*<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        <li>
            <div>
                <p>@item.Client.BusinessName</p>
            </div>
        </li>
    }
</ul>*@

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Term</th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderByDescending(m => m.TimestampCreated))
        {
            <tr>
                <td>@item.Client.BusinessName</td>
                <td>@(EnumHelper<ReverseSpectre.Models.LoanStatusType>.GetDisplayValue(item.LoanStatus))</td>
                <td>@item.Amount</td>
                <td>@item.Term</td>
                <td>@Html.ActionLink("View Loan", "Details", new { id = item.LoanApplicationId })</td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
<style>



</style>
}