@model List<ReverseSpectre.Models.LoanApplicationDocument>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Added on</th>
            <th>Comment</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var document in Model)
        {
            if (document.Status == ReverseSpectre.Models.LoanDocumentStatusType.Approved)
            {
                <tr style="background:#95ff7b;">
                    <td>@document.Name</td>
                    <td>@document.TimestampCreated.ToString()</td>
                    <td>@document.Comment</td>
                    <td>@document.Status</td>
                    <td>
                        @if (document.Status != ReverseSpectre.Models.LoanDocumentStatusType.Approved)
                        {
                            <button class="btn btn-xs btn-default" type="button" onclick="openEditModal(@document.LoanApplicationDocumentId)">Upload Document</button>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr style="background:#f2f2f2;">
                    <td>@document.Name</td>
                    <td>@document.TimestampCreated.ToString()</td>
                    <td>@document.Comment</td>
                    <td>@document.Status</td>
                    <td>
                        @if (document.Status != ReverseSpectre.Models.LoanDocumentStatusType.Approved)
                        {
                            <button class="btn btn-xs btn-default" type="button" onclick="openEditModal(@document.LoanApplicationDocumentId)">Upload Document</button>
                        }
                    </td>
                </tr>
            }
            foreach (var file in document.Files)
            {
                <tr>
                    <td><a href="@file.Url" target="_blank">Download</a></td>
                    <td>@file.TimestampCreated.ToString()</td>
                    <td>@file.Comment</td>
                    <td>@file.FileType.Substring(1)</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

