@model ReverseSpectre.Models.LoanApplication

@{
    ViewBag.Title = "Loan Application";
    int approved = Model.LoanApplicationDocuments.Count(m => m.Status == ReverseSpectre.Models.LoanDocumentStatusType.Approved);
    string interest;
    if (Model.Interest <= 0)
    {
        interest = "- To be determined -";
    }
    else
    {
        interest = $"{(Model.Interest * 100)} %";
    }
}

<h3>Loan Application</h3>
<div class="container" style="margin-top:30px;">
    <span><strong>Progress: </strong></span>
    <progress style="min-width:300px; max-width:100%;" max="6" value="@((int)Model.LoanStatus)"></progress>
    <br /><br />
    <p><strong>Stage:</strong> @Model.LoanStatus</p>
    <p>-- Description for current status --</p>

    <hr />

    <div class="container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="row">
            <p><strong>Amount:</strong> @(String.Format("{0:0,0}", Model.Amount)) PHP</p>
        </div>
        <div class="row">
            <p><strong>Term:</strong> @Model.Term months</p>
        </div>
        <div class="row">
            <p><strong>Interest Rate:</strong> @interest</p>
        </div>
    </div>

</div>
<br /><br />

<h4>Required Documents</h4>
<div id="document-list">
    @Html.Partial("DocumentList", Model.LoanApplicationDocuments)
</div>

<!-- Upload Modal -->
<div id="upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Document</h4>
            </div>
            <div id="upload-modal-content">
                <div class="loader">
                    <div class="circle">&nbsp;</div>
                    <div class="circle">&nbsp;</div>
                    <div class="circle">&nbsp;</div>
                    <div class="circle">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    function openEditModal(id) {
        $('#upload-modal').modal('show');
        $.get("@Url.Action("UploadLoanDocument", "ClientLoan")",
            { id: id },
            function (data) { $('#upload-modal-content').html(data); });
    }

    function hideModal() {
        $('#upload-modal').modal('hide');
    }

    $('#upload-modal').on('hidden.bs.modal', function () {
        var data = $('<div></div>', { class: 'loader' })
            .append($('<div></div>', { class: 'circle', text: ' ' }))
            .append($('<div></div>', { class: 'circle', text: ' ' }))
            .append($('<div></div>', { class: 'circle', text: ' ' }));
        $('#upload-modal-content').html(data);
    })
</script>    
}