@model ReverseSpectre.Models.LoanApplication
@{
    ViewBag.Title = "LoanApplication";
}

<h3>Loan</h3>

<p>Amount: @Model.Amount</p>
<p>Term: @Model.Term months</p>

<table class="table">
    <tbody>
        <tr>
            <th>Document</th>
            <th>Added on</th>
            <th>Comment</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var document in Model.LoanApplicationDocuments)
        {
            <tr style="background:#f2f2f2;">
                <td>@document.Name</td>
                <td>@document.TimestampCreated.ToString()</td>
                <td>
                @if (document.Status == ReverseSpectre.Models.LoanDocumentStatusType.Approved)
                {
                    @document.Comment = " ";
                }
                else {
                    @document.Comment
                }
                </td>
                <td>@document.Status</td>
                <td>
                @if (document.Status == ReverseSpectre.Models.LoanDocumentStatusType.Approved)
                {
                    //do not show the upload button
                }
                else
                {
                    @Html.ActionLink("Upload", "UploadLoanApplicationDocument", new { id = document.LoanApplicationDocumentId })
                }

                </td>
            </tr>
            foreach (var file in document.Files)
            {
                <tr>
                    <td><a href="@file.Url" target="_blank">Download</a></td>
                    <td>@file.TimestampCreated.ToString()</td>
                    <td>@file.FileType.Substring(1)</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>