@model ReverseSpectre.Models.LoanApplicationDocument
@{
    Layout = null;
}

@using (Ajax.BeginForm("AddRequirement",
                        null,
                        new AjaxOptions()
                        {
                            UpdateTargetId = "document-list",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            //OnBegin = "hideSubmit",
                            //OnSuccess = "hideSpinner",
                            //OnFailure = "alertFailure",
                            OnComplete = "hideModal"
                        },
                        new { id = "add-requirement-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.LoanApplicationId)
    <div class="modal-body">
        <div>

            <div class="row" style="margin-bottom: 35px !important;">
                <div class="col-md-6">
                    <label class="control-label">Document Name</label>
                    <input class="form-input" id="Name" name="Name" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Comment</label>
                    <textarea class="form-input" id="Comment" name="Comment" style="width:100%;display:block;"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
        <button id="upload-submit-button" type="submit" class="btn btn-primary">Save</button>
    </div>

}

@*<h2>Add Requirement</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.LoanApplicationId)

    <div class="form-horizontal">
        <h4>Loan ApplicationDocument</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Loan", "Details", new { id = Model.LoanApplicationId })
</div>*@
