@{
    Layout = null;
    int id = (int)ViewBag.Id;    
}

@using (Ajax.BeginForm("CommentFile",
                                    null,
                                    new AjaxOptions()
                                    {
                                        UpdateTargetId = "document-list",
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        //OnBegin = "hideSubmit",
                                        //OnSuccess = "hideSpinner",
                                        //OnFailure = "alertFailure",
                                        OnComplete = "hideModal"
                                    },
                                    new { id = "comment-file-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", id)
    <div class="modal-body">
        <div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Comment</label>
                    <textarea class="form-input" id="comment" name="Comment" required style="width:100%;display:block;"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
        <button id="upload-submit-button" type="submit" class="btn btn-primary">Save</button>
    </div>

}

@*<h2>Comment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", id)

    <div class="form-horizontal">
        <h4>Loan ApplicationDocument File</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("comment", "Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("comment", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Loan", "Details", new { id = loanId })
</div>*@
